@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
html{
	font-size: 62.5%;
	font-family: "微软雅黑";
}
.news-title{
	margin: 2rem auto 1rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}
.news-time{
	text-align: center;
	color: #a3a3a3;
	font-size: 1.5rem;
}
.news-content{
	padding: 1rem;
	font-size: 1.5rem;
	line-height: 3rem;
}
